<?php

use Illuminate\Database\Seeder;

class UsersTableSeeder extends Seeder
{
    /**
     * Run the database seeds.
     *
     * @return void
     */
    public function run()
    {
        $user = new App\User();
        $user->password = bcrypt('modify');
        $user->type = 'superadmin';
        $user->login = 'Admin_1';
        $user->email='email@email.com';
        $user->save();

    }
}
