@media(max-width:1480px) {
    #listLinks li {
        font-size: 13px;
        line-height: 20px;
        margin: 0 2vh;
    }
    .btn_login {
        font-size: 1.8vh;
        line-height: 2.5vh;
    }
}
@media(max-width:1199px) {
    .description_video {
        height: 50vh;
    }
    .bloc_list_video {
        height: 28vh;
    }
}
.bloc_list_video {
    height: 41vh;
}
@media(max-width:1199px) and (orientation : landscape){
    .bloc_list_video {
        height: 45vh;
    }
}
@media(max-width:991px) {
    .header_navbar{
        min-height: 80px;
    }
    #logo img {
        max-width: 60px;
    }
    #listLinks li {
            font-size: 7px;
            line-height: 11px;
    }
    .description_video {
        height: 55vh;
    }
    .container-fluid {
        padding: 0;
    }
    .btn_login {
        max-width: 15vh;
        font-size: 1.5vh;
        line-height: 2vh;
    }
    #logo {
        font-size: 4vh;
        line-height: 4vh;
        padding-left: 2vh;
    }
    #logo span {
        font-size: 4vh;
        line-height: 4vh;
    }
    h1 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 2vh;
    }
    h2 {
        font-size: 12px;
        line-height: 16px;
    }
    .description_video {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
    }
    /* .mCSB_scrollTools.mCSB_scrollTools_horizontal {
        height: 10px;
    } */
    #logo {
        float: left;
        text-align: left;
    }
}
@media (min-width:768px){
    #navbarNav {
         width: 70%;
        height: 100%;
    }
}
@media(max-width:767px) {
    #listLinks {
        max-width: 100%;
    }
    #navbarNav {
        padding-right: 0;

    }
    .container_home {
        padding: 0 0 10px 0;
    }
    .header_navbar:before {
        display: none;
    }
    .navbar-toggler-icon {
        display: block;
        width: 1.5em;
        height: 2px;
        vertical-align: middle;
        background-color: #fff;
        margin: 7px 0;
    }
    button:focus {
        outline: none;
    }

    .header_navbar {
        max-height: inherit;
        height: auto;
        padding-left: 0px;
    }
    .navbar-nav {
        padding: 30px 20px;
        text-align: left;
        display: block;
    }

    .navbar-collapse {
        background-color: #fff;
        margin-top: 5px;
    }
    #listLinks li {
        font-size: 14px;
        line-height: 16px;
        color: #000;
        display: block;
        justify-content: flex-start;
    }
    #listLinks li a {
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
        color: #000;
        margin:10px 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
    }
    #listLinks.main- li a {
        display:flex;
        flex-direction: column;
        align-items: center;
        color: #000;
        margin:10px 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
    #listLinks li a p{
         margin: 0;
    }
    #listLinks li img {
        margin-right: 10px;
    }
    #listLinks.main- li img {
        margin: 0;
    }
    #listLinks li:hover a {
        color: #cf0b0b;
    }
    #listLinks li span {
        margin-right: 10px;
    }
    .btn_login span {
        display: inline;
    }
    .btn_login {
        background-color: #303030;
        color: #cf0b0b;
        font-size: 16px;
        line-height: 18px;
        max-width: none;
        padding: 15px 15px;
        display: block;
        margin-bottom: -7px;
    }
    .embed-container-theme {
        padding-bottom: 56.25%;
    }
    .bloc_video_theme,
    .image_Container,
    .description_video,
    .image_Container img,
    .bloc_list_video,
    .bloc_video,.bloc_video img {
        height: auto;
    }
    .container-fluid {
        min-height: 86vh;
        height: auto;
    }
    .col_text {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .navbar-collapse .collapse .show:focus .share_links {
        position: absolute;
        bottom: 3vh;
        left: 30px;
        right: auto;
        display: none;
    }
    .share_links {
        position: relative;
        bottom: initial;
        right: initial;
        padding: 0 15px;
        text-align: right;
    }
    .bloc_video_theme iframe {
        width: auto;
    }
    .container_video {
        display: block;
    }
    .ajax-load {
        height: 90px;
    }
    #video-player {
        height: auto;
        width: 100%;

    }

}
@media(max-width:576px) {

    .bloc_description {
        height: auto;
        overflow: auto;
    }
    h1 {
        font-size: 18px;
        line-height: 20px;
    }
    #notfound {
        padding: 0;
    }
    .notfound-404:after {
        right: 0;
        margin: 0 auto;
    }
    .notfound {
        max-width: none;
        padding-left: 0;
        line-height: 20px;
        position: relative;
        padding-top: 222px;
        text-align: center;
    }
    .notfound:before {
        left: 0;
        top: 22px;
        right: 0;
        margin: 0 auto;
    }
    .notfound-404:after {
        top: 30px;
    }
}
@media(max-width:400px) {

}
